*.eps
*.go
*.log
*.mo
*.pdf
*.png
*.tar.xz
*.tmp
*~
.#*
\#*\#
,*
/aclocal.m4
/autom4te.cache
/build-aux
/config.status
/configure
/doc/*.1
/doc/.dirstamp
/doc/contributing.*.texi
/doc/guile-yamlpp*.aux
/doc/guile-yamlpp*.cp
/doc/guile-yamlpp*.cps
/doc/guile-yamlpp*.fn
/doc/guile-yamlpp*.fns
/doc/guile-yamlpp*.html
/doc/guile-yamlpp*.info
/doc/guile-yamlpp*.info-[0-9]
/doc/guile-yamlpp*.ky
/doc/guile-yamlpp*.pg
/doc/guile-yamlpp*.toc
/doc/guile-yamlpp*.t2p
/doc/guile-yamlpp*.tp
/doc/guile-yamlpp*.vr
/doc/guile-yamlpp*.vrs
/doc/guile-yamlpp.*.texi
/doc/guile-yamlpp-cookbook.*.texi
/doc/guile-yamlpp.aux
/doc/guile-yamlpp.cp
/doc/guile-yamlpp.cps
/doc/guile-yamlpp.fn
/doc/guile-yamlpp.fns
/doc/guile-yamlpp.html
/doc/guile-yamlpp.info
/doc/guile-yamlpp.info-[0-9]
/doc/guile-yamlpp.ky
/doc/guile-yamlpp.pg
/doc/guile-yamlpp.toc
/doc/guile-yamlpp.t2p
/doc/guile-yamlpp.tp
/doc/guile-yamlpp.vr
/doc/guile-yamlpp.vrs
/doc/stamp-vti
/doc/version.texi
/doc/version-*.texi
/INSTALL
/guile.am
/m4/*
/pre-inst-env
/release-*
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
config.cache
stamp-h[0-9]
.am[0-9]*/
.dirstamp
.deps
tmp
/.tarball-version
/.version
.DS_Store
*.trs
*.log
*.db
